<div class="timeline-wrapper">
    <div class="padder" [style.height]="'800px'"></div>
    <div class="item"></div>
    <div class="padder" [style.height]="'800px'"></div>
    <div class="item"></div>
    <div class="padder" [style.height]="'800px'"></div>
</div>
<div class="content-wrapper">
    <div class="timeline-item">
        <div class="panel">
        <h2>Testing</h2>
        </div>
    </div>
    <div class="timeline-item"></div>
</div>

<div class="status" #status></div>
<div class="centerscreen" #centerScreen></div>