<div class="home-wrapper">
    <div class="feature">
        <p class="title">Hi, I'm <span class="red" [appObfuscate]="1">Charlie</span></p>
        <p class="info">
            I'm a software engineer based in Australia with <span class="red" [appObfuscate]="1">2 years</span> of industry experience at
            age <span class="red" [appObfuscate]="1">18</span>.
        </p>
        <p class="info">
            I have a passion for <span class="red" [appObfuscate]="1">web development</span> and design but have experience in a variety of
            <span class="red" [appObfuscate]="1">languages</span> and <span class="red" [appObfuscate]="1">frameworks</span>, including <span class="red" [appObfuscate]="1">mobile development</span>.
        </p>
        <p class="info">
            I am currently studying <span class="red" [appObfuscate]="1">Business / Computer Science</span> at a Brisbane based university.
        </p>
    </div>
    <div class="hexagons-area" #hexagonsArea>
        <div class="hexagon-column" *ngFor="let hexagonColumn of hexagonColumns">
            <div class="hexagon-border" *ngFor="let hexagon of hexagonColumn" [class]="hexagon.class"
                [style]="hexagon.style">
                <div class="hexagon" [class.project-hex]="hexagon.bIcon" (mouseenter)="checkHex($event)" (mouseleave)="clearProjects()" [id]="hexagon.id">
                    <img [src]="hexagon.image" alt="hexagon.image" *ngIf="hexagon.image">
                    <i *ngIf="hexagon.bIcon" [class]="hexagon.bIcon"></i>
                    <p class="hexagon-title" *ngIf="hexagon.title && !(hexagon.title == 'Tool')">
                        {{ hexagon.title }}
                    </p>    
                    <p class="hexagon-title" *ngIf="hexagon.title && (hexagon.title == 'Tool')" [appObfuscate]>
                        {{ hexagon.title }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>