<div class="nav-wrapper" id="nav">
    <div class="section left" appCursorFollow>
        <p>CA</p>
    </div>
    <div class="nav-n-links">
        <div class="section right" appCursorFollow>
            <a class="option" [routerLink]="'/home'" routerLinkActive="active-link">HOME</a>
            <a class="option" [routerLink]="'/about'" routerLinkActive="active-link">ABOUT</a>
            <a class="option" [routerLink]="'/projects'" routerLinkActive="active-link" moreoptions>PROJECTS</a>
            <a class="option" [routerLink]="'/contact'" routerLinkActive="active-link">CONTACT</a>
        </div>

        <div class="section links" appCursorFollow>
            <i class="bi bi-discord" [appTooltip]="discord" (click)="copy(discord, $event)"></i>
            <i class="bi bi-linkedin" (click)="openLink('https://www.linkedin.com/in/charlie-adam-6552a927a/')"></i>
            <i class="bi bi-github" (click)="openLink('https://github.com/charlie-adam')"></i>
            <i class="bi bi-envelope-fill" [appTooltip]="gmail" (click)="copy(gmail, $event)"></i>
        </div>
    </div>
</div>

<div class="section more-options" #moreOptions appCursorFollow>
    <div class="option" routerLink="/projects" fragment="quotient">
        <div class="icon">
            <i class="bi bi-pen"></i>
        </div>
        <div class="info">
            <p class="title">Quotient</p>
            <p class="description">
                Note management application that allows users to create, edit, and delete notes.
            </p>
        </div>
    </div>
    <hr>
    <div class="option" routerLink="/projects" fragment="scanplr">
        <div class="icon">
            <i class="bi bi-music-note-list"></i>
        </div>
        <div class="info">
            <p class="title">Scanpler</p>
            <p class="description">
                A web application allowing users to scan their playlists for samples and explore their music.
            </p>
        </div>
    </div>
    <hr>
    <div class="option" routerLink="/projects" fragment="dusk">
        <div class="icon">
            <i class="bi bi-moon"></i>
        </div>
        <div class="info">
            <p class="title">Dusk</p>
            <p class="description">
                A videogame modification with 100,000+ downloads 1,000,000+ Youtube impressions.
            </p>
        </div>
    </div>
    <hr>
    <div class="option" routerLink="/projects" fragment="portfolio">
        <div class="icon">
            <i class="bi bi-globe-asia-australia"></i>
        </div>
        <div class="info">
            <p class="title">Portfolio</p>
            <p class="description">
                This website! A portfolio showcasing my projects and skills.
            </p>
        </div>
    </div>
    <hr>
    <div class="option" routerLink="/projects">
        <div class="icon">
            <i class="bi bi-plus" ></i>
        </div>
        <div class="info">
            <p class="title">More</p>
            <p class="description">
                More smaller, assorted projects and contributions.
            </p>
        </div>
    </div>
</div>

<div class="selection-follow cursor-follow" #selectionFollow></div>