@use '../../../vars.scss' as *;

.nav-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:10px;
    .left{
        height: 36px;
        p{
            user-select: none;
            cursor: default;
            font-size: 1.2rem;
        }
    }
    .right{
        height:36px;
        position: relative;
        .option{
            color: $dimwhite;
            transition: all 0.3s ease;
            will-change: transform;
            text-decoration: none;
            font-size: 0.8rem;
            cursor: default;
            user-select: none;
            &:hover{
                color: $white;
            }
        }
    }

}

.section {
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
    border: 1px solid $border;
    justify-content: center;
    z-index: 2;
    backdrop-filter: blur(40px);
    user-select: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.active-link{
    color: $white !important;
}

.small{
    width: 20px;
}

.more-options-padder{
    padding-top: 10px;
}

.more-options{
    pointer-events: none;
    position:absolute;
    opacity: 0;
    flex-direction: column;
    transition: opacity 0.3s ease;
    padding: 10px 15px;
    gap:10px;
    align-items: center;
    z-index: 10;
    .option{
        width: 100%;
        display:flex;
        flex-direction: row;
        gap:10px;
        align-items: center;
        &:hover{
            .icon{
                i{
                    color: $white;
                }
            }
            .info{
                .title{
                    color: $white;
                }
                .description{
                    color: $dimwhite;
                }
            }
        }
        .icon{
            width: 40px !important;
            height: 40px !important;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $border;
            color: $dimwhite;
            border-radius: 5px;
            i{
                transition: color 0.3s ease;
                font-size: 0.9rem;
            }
        }
        .info{
            display:flex;
            flex-direction: column;
            gap:3px;
            max-width: 300px;
            .title{
                font-size: 0.85rem;
                color: $dimwhite;
                font-weight: 500;
                transition: color 0.3s ease;

            }
            .description{
                font-size: 0.75rem;
                transition: color 0.3s ease;
                color: $subtext;
            }
        }

    }
}